@model IQueryable<Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <input type="search" name="searched" placeholder="Потърси картина" />
    <button type="submit" class="btn btn-dark">
        Търси&nbsp;
        <i class="fas fa-search"></i>
    </button>
</form>

@if (User.IsInRole("Employee"))
{
    <p>
        <a asp-action="Create">Добави нов</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Година на раждане
            </th>
            <th>
                Година на смъртта
            </th>
            <th>
                Националност
            </th>
            <th>
                Портрет
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Author author in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => author.BirthYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => author.DeathYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => author.NationalityId)
                </td>
                <td>
                    <img src="@Url.Content($"~/images/{author.PortraitUrl}")" class="menu-img img-fluid" alt="@author.Name">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@author.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@author.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
